<ion-content>
    <ion-item class="top" color="dark">
        <ion-label>Rest Duration</ion-label>
        <ion-datetime
            display-format="mm:ss"
            placeholder="Pick rest time"
            [(ngModel)]="fullTime"
        ></ion-datetime>
    </ion-item>

    <circle-progress
        (click)="startTime()"
        [percent]="percent"
        [maxPercent]="100"
        [radius]="radius"
        [showTitle]="false"
        [showSubtitle]="false"
        [subtitle]="remainingTime"
        [subtitleFontSize]="40"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [outerStrokeColor]="'#fdc830'"
        [showZeroOuterStroke]="false"
        [backgroundStroke]="'#ffae42'"
        [backgroundStrokeWidth]="3"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#f37335'"
        [showInnerStroke]="false"
    ></circle-progress>

    <div class="workout-time">
        <h2>Total Workout Time</h2>
        <p>{{ elapsed.h }}:{{ elapsed.m }}:{{ elapsed.s }}</p>
    </div>
    

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ng-container *ngIf="timer == false; else running">
            <ion-fab-button (click)="startTime()">
                <ion-icon name="play"></ion-icon>
            </ion-fab-button>
        </ng-container>
        <ng-template #running>
            <ion-fab-button (click)="stopTime()">
                <ion-icon name="square"></ion-icon>
            </ion-fab-button>
        </ng-template>
    </ion-fab>
</ion-content>
